version: '3'
services:
    # データアップローダー用のNoSql(GridDB)
    # Dockerfile参考URL: https://github.com/griddb/griddb-docker
    griddb:
        container_name: griddb-docker
        build:
            context: ./griddb
            dockerfile: Dockerfile
        ports:
            - 10011:10001
        volumes:
            - "vol:/var/lib/gridstore"
        networks:
            my_network:
                ipv4_address: 192.168.145.10

    # データアップローダー、管理アプリケーションコンテナ(Java - opc, griddb)
    # Dockerfile参考URL: https://github.com/griddb/griddb-docker/tree/main/jdbc
    data-register:
        container_name: data-register-app
        build:
            context: ./data-register
            dockerfile: Dockerfile
        tty: true
        volumes:
            - "./data-register/project:/root/project"
            - "vol:/var/lib/gridstore"
        depends_on:
            - griddb
        networks:
            my_network:
                ipv4_address: 192.168.145.20

    opc-server:
        container_name: opc-server
        build:
            context: ./opc-server
            dockerfile: Dockerfile
        tty: true
        environment:
            ACCESS_URL: "opc.tcp://0.0.0.0:4840/opc-ua/griddb/server"
        volumes:
            - "./opc-server/project:/root/project"
            - "vol:/var/lib/gridstore"
        depends_on:
            - griddb
        ports:
            - 4840:4840
        networks:
            my_network:
                ipv4_address: 192.168.145.25

    opc-client-1:
        container_name: opc-client-1
        build:
            context: ./opc-client
            dockerfile: Dockerfile
        tty: true
        environment:
            ACCESS_URL: "opc.tcp://192.168.145.25:4840/opc-ua/griddb/server"
            TAG_NAME: "TAG_NAME"
            EXECUTINON_CYCLE: "3000"
        volumes:
            - "./opc-client/project:/root/project"
            - "vol:/var/lib/gridstore"
        depends_on:
            - griddb
        networks:
            my_network:
                ipv4_address: 192.168.145.31

    opc-client-2:
        container_name: opc-client-2
        build:
            context: ./opc-client
            dockerfile: Dockerfile
        tty: true
        volumes:
            - "./opc-client/project:/root/project"
            - "vol:/var/lib/gridstore"
        depends_on:
            - griddb
        networks:
            my_network:
                ipv4_address: 192.168.145.32

    opc-client-3:
        container_name: opc-client-3
        build:
            context: ./opc-client
            dockerfile: Dockerfile
        tty: true
        volumes:
            - "./opc-client/project:/root/project"
            - "vol:/var/lib/gridstore"
        depends_on:
            - griddb
        networks:
            my_network:
                ipv4_address: 192.168.145.33
volumes:
    vol:

networks:
    my_network:
        ipam:
            driver: default
            config:
                - subnet: 192.168.145.0/24

# GrafanaからGridDBデータの参照も行いたい
# 参考URL: https://github.com/griddb/griddb-datasource