version: '3'
services:
    # データアップローダー用のNoSql(GridDB)
    # Dockerfile参考URL: https://github.com/griddb/griddb-docker
    griddb:
        container_name: griddb-docker
        build:
            context: ./griddb
            dockerfile: Dockerfile
        ports:
            - 10011:10001
        volumes:
            - "vol:/var/lib/gridstore"
        networks:
            my_network:
                ipv4_address: 192.168.145.10

    # データアップローダー、管理アプリケーションコンテナ(Java - opc, griddb)
    # Dockerfile参考URL: https://github.com/griddb/griddb-docker/tree/main/jdbc
    data-register:
        container_name: data-register-app
        build:
            context: ./data-register
            dockerfile: Dockerfile
        tty: true
        environment:
            # OpcUa
            ACCESS_IP: "192.168.145.25"
            ACCESS_PORT: "4840"
            DEVICE_1_NODE_ID: "1"
            DEVICE_1_QUARLIFIED_NAME: "2001"
            DEVICE_2_NODE_ID: "2"
            DEVICE_2_QUARLIFIED_NAME: "2"
            DEVICE_3_NODE_ID: "3"
            DEVICE_3_QUARLIFIED_NAME: "1"
            EXECUTINON_CYCLE: "3000"
            # GridDB
            NOTIFICATION_ADDRESS: "239.0.0.1"
            NOTIFICATION_PORT: "31999"
            CULSTER_NAME: "dockerGridDB"
            USER: "admin"
            PASSWORD: "admin"
        volumes:
            - "./data-register/project:/root/project"
            - "vol:/var/lib/gridstore"
        depends_on:
            - griddb
        networks:
            my_network:
                ipv4_address: 192.168.145.20

    opc-server:
        container_name: opc-server
        build:
            context: ./opc-server
            dockerfile: Dockerfile
        tty: true
        environment:
            ACCESS_URL: "opc.tcp://0.0.0.0:4840/opc-ua/griddb/server"
        volumes:
            - "./opc-server/project:/root/project"
            - "vol:/var/lib/gridstore"
        depends_on:
            - griddb
        ports:
            - 4840:4840
        networks:
            my_network:
                ipv4_address: 192.168.145.25

    opc-client-1:
        container_name: opc-client-1
        build:
            context: ./opc-client
            dockerfile: Dockerfile
        tty: true
        environment:
            ACCESS_IP: "192.168.145.25"
            ACCESS_PORT: "4840"
            NODE_ID: "1"
            QUARLIFIED_NAME: "2001"
            EXECUTINON_CYCLE: "3000"
            METHOD_TYPE: "Random"
        volumes:
            - "./opc-client/project:/root/project"
            - "vol:/var/lib/gridstore"
        depends_on:
            - griddb
        networks:
            my_network:
                ipv4_address: 192.168.145.31

    opc-client-2:
        container_name: opc-client-2
        build:
            context: ./opc-client
            dockerfile: Dockerfile
        tty: true
        environment:
            ACCESS_IP: "192.168.145.25"
            ACCESS_PORT: "4840"
            NODE_ID: "2"
            QUARLIFIED_NAME: "2"
            EXECUTINON_CYCLE: "1000"
            METHOD_TYPE: "Fluctuation"
        volumes:
            - "./opc-client/project:/root/project"
            - "vol:/var/lib/gridstore"
        depends_on:
            - griddb
        networks:
            my_network:
                ipv4_address: 192.168.145.32

    opc-client-3:
        container_name: opc-client-3
        build:
            context: ./opc-client
            dockerfile: Dockerfile
        tty: true
        environment:
            ACCESS_IP: "192.168.145.25"
            ACCESS_PORT: "4840"
            NODE_ID: "3"
            QUARLIFIED_NAME: "1"
            EXECUTINON_CYCLE: "1000"
            METHOD_TYPE: "Fluctuation"
        volumes:
            - "./opc-client/project:/root/project"
            - "vol:/var/lib/gridstore"
        depends_on:
            - griddb
        networks:
            my_network:
                ipv4_address: 192.168.145.33
    
    # 参考URL: https://github.com/griddb/griddb-datasource
    grafana_plugin:
        container_name: grafana
        build:
            context: ./grafana-plugin
            dockerfile: Dockerfile
        ports:
            - 3000:3000
        depends_on:
            - griddb
        networks:
            my_network:
                ipv4_address: 192.168.145.35

volumes:
    vol:

networks:
    my_network:
        ipam:
            driver: default
            config:
                - subnet: 192.168.145.0/24

# GrafanaからGridDBデータの参照も行いたい
# 参考URL: https://github.com/griddb/griddb-datasource